<div class="container my-5">
  <div class="payment-method">
    <div
      (click)="toggle_icon_transform_1()"
      (click)="togglePaymentMethod('cheque')"
      class="payment-header"
    >
      <div style="display: flex">
        <span> <i class="fa-solid fa-money-check-dollar"></i> Chèque </span>
      </div>

      <span id="toggle-icon-1" class="toggle-icon"
        ><i class="fa-solid fa-angle-up fa-beat"></i>
      </span>
    </div>
    <div [class.open]="chequeOpen" class="payment-body">
      <p>Pour payer par chèque, envoyez le chèque à l'adresse suivante :</p>
      <p>Adresse : azli sud 1 N°88 Marrakech Maroc</p>
    </div>
  </div>

  <div class="payment-method">
    <div
      (click)="toggle_icon_transform_2()"
      class="payment-header"
      (click)="togglePaymentMethod('bankTransfer')"
    >
      <div style="display: flex">
        <span
          ><img
            style="height: 20px"
            src="../../assets/Roundicons-100-Free-Solid-Bank-transfer.512.png"
            alt="virement icon"
        /></span>
        Chèque Virement Bancaire
      </div>
      <span id="toggle-icon-2" class="toggle-icon"
        ><i class="fa-solid fa-angle-up fa-beat"></i
      ></span>
    </div>
    <div [class.open]="bankOpen" class="payment-body">
      <p>
        Pour effectuer un virement bancaire, utilisez les informations bancaires
        suivantes :
      </p>
      <p>Nom de la banque : Banque Populaire</p>
      <p>Numéro de compte : 145 450 21211 7424803 001 0 75</p>
    </div>
  </div>
</div>
