<div [ngClass]="{'container': isScreenSizeLarge}" class="BG_container">
  <form [formGroup]="donationForm" (ngSubmit)="onSubmit()">
    <div class="donation_forum">
      <div class="don-form">
        <p
          style="
            text-align: center;
            height: 30px;
            font-size: 30px;
            margin-bottom: 15%;
            color: #073643;
          "
        >
          Faire un don
        </p>
        <div class="donation-amount">
          <div class="donation-buttons">
            <button type="button" class="donation-button">
              50 <span class="donation-currency">MAD</span>
            </button>
            <button type="button" class="donation-button">
              100 <span class="donation-currency">MAD</span>
            </button>
            <button type="button" class="donation-button">
              200 <span class="donation-currency">MAD</span>
            </button>
            <button type="button" class="donation-button">
              300 <span class="donation-currency">MAD</span>
            </button>
            <div class="custom-amount" style="grid-column: span 2">
              <input
                required
                type="number"
                placeholder="Montant MAD"
                class="custom-amount-input"
                value=""
                min="0"
                style="margin-bottom: 0;"
              />
            </div>
          </div>
        </div>
        <div class="grid-form">
          <div class="grid-item">
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              required
              placeholder="Prenom"
            />
          </div>
          <div class="grid-item">
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              required
              placeholder="Nom"
            />
          </div>
          <div class="grid-item-full">
            <input
              type="email"
              id="email"
              formControlName="email"
              required
              placeholder="Email"
            />
          </div>
        </div>
        <button type="submit">Faire un Don</button>
      </div>
      <br />
    </div>
  </form>
</div>
