
/* style autre methode */

.payment-method {
  margin:20px 0px;
}

.payment-header {
  width: 70%;
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.payment-body {
  background-color: white;
  width: 70%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding: 0 10px;
}

.payment-body.open {
  max-height: 500px;
}

.toggle-icon {
  transform: rotate(0deg);
  transition: transform 0.3s linear 0s;
}

@media screen and (max-width: 639px) {
  .payment-body {
    width: 100%;
  }
  .payment-header {
    width: 100%;
  }
}
