<footer style="background-color: #0a343f" class="pt-5 pb-5">
  <div class="container">
    <div style="margin-left: 2%; margin-right: 2%" class="row">
      <div class="col-md-6 resize">
        <h5 class="text-light mb-4">Contact</h5>
        <p class="text-light">Email: associationimini&#64;gmail.com</p>
        <p class="text-light">Téléphone: +123456789</p>
      </div>
      <div class="col-md-6 resize resize-mid">
        <h5 class="text-light mb-4">Suivez-nous</h5>
        <ul class="list-inline">
          <li title="facebook" class="list-inline-item">
            <a
              target="_blank"
              href="https://www.facebook.com/groups/2998343763739570"
              class="text-light social-link"
            >
              <div class="social-icon fb">
                <i class="fab fa-facebook-f"></i>
              </div>
            </a>
          </li>
          <li title="twitter" class="list-inline-item">
            <a href="#" class="text-light social-link">
              <div class="social-icon twitter">
                <i class="fab fa-twitter"></i>
              </div>
            </a>
          </li>
          <li title="instagram" class="list-inline-item">
            <a href="#" class="text-light social-link">
              <div class="social-icon instagram-icon">
                <i class="fab fa-instagram"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
