/* membres.component.css */
.card {
  margin: 20px;
}

.intro-section p {
  line-height: 30px;
  color: #4c5559;
  font-size: 16px;
}
.intro-section h2 {
  color: #122b32;
  font-size: 24px;
}
.member-item {
  display: flex;
  justify-content: center;
}
.space{
  padding: 50px 50px;
}

.member-content {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 1.5rem;
}

.member-image {
  width: 55%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Responsive styles */
@media (max-width: 765px) {

.space{
  padding: 10px 0;
}


}
