<div class="about-container">

    <div style="background-image:url('../../assets/donation_img.jpg') ;background-size: cover;background-repeat: no-repeat; background-position: left;" class="container">
        <div class="row" >
            <div style="background-color: rgba(0, 0, 0, 0.514);" class="col-lg-6 offset-lg-6">
                <div class="about-content text-white">
                    <h2 class="text-uppercase mb-4">About Us</h2>
                    <p class="lead">
                        Welcome to <strong>[Association Name]</strong> - Shaping the Future, Creating Impact!
                    </p>
                    <p>
                        At [Association Name], we are dedicated to [describe the mission or purpose of your
                        association].
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec
                        facilisis
                        orci ac mi suscipit, vel fermentum odio tincidunt.
                    </p>
                    <p>
                        Our team is a blend of diverse talents, working together to make a positive impact in
                        <strong>[industry/field]</strong>. Explore our website to learn more about our initiatives,
                        projects, and the outstanding individuals who form the core of our association.
                    </p>
                    <a href="/contact" class="btn btn-primary btn-lg mt-3">Get Involved</a>
                </div>
            </div>
        </div>
    </div>
</div>