/* Styles pour les écrans de taille moyenne (largeur max de 900px) */
@media screen and (max-width: 900px) {
  .row {
    padding: 20px; /* Ajoutez un espacement autour du contenu pour une meilleure lisibilité */
  }
  h1 {
    font-size: 34px; /* Réduisez la taille de la police pour les écrans plus petits */
  }
}

/* Styles pour les écrans de petite taille (largeur max de 600px) */
@media screen and (max-width: 600px) {
  .row {
    padding: 20px; /* Réduisez davantage l'espacement pour les écrans très petits */
  }
  h1 {
    font-size: 34px; /* Réduisez encore la taille de la police pour les écrans très petits */
  }
}

img {
  width: 100%; /* L'image occupera la largeur totale de son conteneur parent */
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
  height: auto; /* Laisse la hauteur s'ajuster automatiquement pour conserver les proportions */
}