<div id="container-fluid-1" class="container-fluid">
  <div class="row mt-4">
    <div
      id="div_center_container"
      style="align-self: center"
      class="col-md-6 col-sm-12"
    >
      <div class="div_center" style="z-index: -1; margin-left: 5%">
        <h1
          style="
            font-family: 'Roboto Slab', serif;
            font-size: 2rem;
            text-align: left;
            color: #042d37;
          "
        >
          <span><strong>Donnez</strong></span> , transformez des vies.
          <br />
          Votre don, leur avenir. <br />
          Ayez un impact. <br />
        </h1>
        <a href="/faire-un-don" class="btn_don">Faire un Don</a>
      </div>
    </div>

    <div
      style="padding: 0%"
      class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
    >
      <img
        style="width: fit-content"
        src="../../assets/main pic nobg 1.png"
        alt="main pic"
      />
    </div>
  </div>
</div>

<section class="donation-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="donation-item">
          <i class="fas fa-hand-holding-heart"></i>
          <h3>Donnez</h3>
          <p>Faites un geste de générosité aujourd'hui. Votre don compte.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="donation-item">
          <i class="fas fa-cogs"></i>
          <h3>Exécution des Projets</h3>
          <p>Nous mettons en œuvre des projets qui changent des vies.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="donation-item">
          <i class="fas fa-users"></i>
          <h3>Profitez-en</h3>
          <p>
            Les bénéficiaires de votre générosité en récoltent les fruits.
            Rejoignez-nous dans cette action.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
