/* Styles pour les écrans de taille moyenne (largeur max de 900px) */
@media screen and (max-width: 768px ) {
#div_center_container{
  margin-bottom: 10%;
}
}

img {
  width: 100%; /* L'image occupera la largeur totale de son conteneur parent */
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
  height: auto; /* Laisse la hauteur s'ajuster automatiquement pour conserver les proportions */
}
